<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>17A422E7-5159-4CC7-ACCE-5D6B68EC8208</string>
			<string>------------------------------------</string>
			<string>DCDC9430-9B71-44A3-A189-1F74235166B1</string>
			<string>129D03AC-DFD9-44B5-95B4-E14CF7C53C48</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>129D03AC-DFD9-44B5-95B4-E14CF7C53C48</key>
			<dict>
				<key>items</key>
				<array>
					<string>DAAD6C34-A811-4EB3-A283-9DC52501D381</string>
					<string>8A0F3882-95D4-460B-B136-8E7549725A08</string>
					<string>E39D5C9C-309F-4AF2-9413-7C427888C3DB</string>
					<string>139FE9EC-9475-4BA7-B1DB-890CE5569269</string>
				</array>
				<key>name</key>
				<string>Blocks</string>
			</dict>
			<key>17A422E7-5159-4CC7-ACCE-5D6B68EC8208</key>
			<dict>
				<key>items</key>
				<array>
					<string>4B4318AB-0E4E-4F54-98FE-9EFD9CA11745</string>
					<string>25E07F8C-81AC-434D-96F1-7270670262F7</string>
					<string>AD45BEFA-023E-43DF-86F2-48F6EE9F78A1</string>
					<string>087BFE00-EE76-44FF-9A48-F84E9409D97C</string>
					<string>57150DAA-31B7-47F7-8A9C-661E18C05EB7</string>
				</array>
				<key>name</key>
				<string>REST</string>
			</dict>
			<key>DCDC9430-9B71-44A3-A189-1F74235166B1</key>
			<dict>
				<key>items</key>
				<array>
					<string>EB6C52D4-9E39-4EB5-88B5-29658CA7FFFE</string>
					<string>B1B4EB18-0CFD-44EC-89B6-87DCFB561F3B</string>
					<string>9BE2B4B8-D2CD-4E55-9315-0451085B58B0</string>
				</array>
				<key>name</key>
				<string>Templates</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Sinatra</string>
	<key>ordering</key>
	<array>
		<string>4B4318AB-0E4E-4F54-98FE-9EFD9CA11745</string>
		<string>25E07F8C-81AC-434D-96F1-7270670262F7</string>
		<string>087BFE00-EE76-44FF-9A48-F84E9409D97C</string>
		<string>AD45BEFA-023E-43DF-86F2-48F6EE9F78A1</string>
		<string>57150DAA-31B7-47F7-8A9C-661E18C05EB7</string>
		<string>139FE9EC-9475-4BA7-B1DB-890CE5569269</string>
		<string>8A0F3882-95D4-460B-B136-8E7549725A08</string>
		<string>E39D5C9C-309F-4AF2-9413-7C427888C3DB</string>
		<string>DAAD6C34-A811-4EB3-A283-9DC52501D381</string>
		<string>EB6C52D4-9E39-4EB5-88B5-29658CA7FFFE</string>
		<string>B1B4EB18-0CFD-44EC-89B6-87DCFB561F3B</string>
		<string>9BE2B4B8-D2CD-4E55-9315-0451085B58B0</string>
	</array>
	<key>uuid</key>
	<string>2A8D07BA-EA1F-415A-AD2A-1F82246C0D41</string>
</dict>
</plist>
